-if !@comments.empty?
  %h4 Comments
  .hr_margin
    %hr
  %ul.comments
    - @comments.each do |cmnt|
      = render 'comments/comment', :cmnt => cmnt
  = will_paginate @comments, renderer: BootstrapPagination::Rails