%h4 Comments
.hr_margin
  %hr
-if @comments.empty?
  .alert.alert-info
    No comments yet.
%ul.comments
  - @comments.each do |cmnt|
    -cache cmnt do
      = render 'comments/comment', :cmnt => cmnt
= will_paginate @comments, renderer: BootstrapPagination::Rails