= search_form_for @search do |f|
  .input-group
    = f.text_field :topik_cont, data: { autocomplete_source: Post.tag_counts_on(:tags).order(:name).map(&:name) }, class: "form-control", placeholder: "type post tag for search..."
    %span.input-group-btn
      = f.submit "Search", class: "btn btn-primary"