.row
  .col-md-4
  .col-md-4
    = render 'posts/posts'
    = will_paginate renderer: BootstrapPagination::Rails
  .col-md-1
  .col-md-2
    %b
      -if !@tags.empty?
        20 popular tags
    %br
    %br
      = render 'tags/tags'