/* Вывод ошибок */
@import "bootstrap";

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;
}

/* Посты */
.name{
  margin-left: 57px;
  margin-top: -57px;
  margin-bottom: 25px;
  font-size: large;
}

.time_ago{
  margin-left: 57px;
  margin-top: -11px;
  margin-bottom: -15px;
  color: #666666;
}

.crt_post{
  margin-left: 525px;
  margin-top: -28px;
}

.crt_comment{
  margin-left: 525px;
  margin-top: -28px;
}

.hr_margin{
  margin-top: -10px;
}

.clip{
  word-wrap: break-word;
}

.comments{
  list-style: none;
  padding: 0;
  margin: 0;
}

.tags{
  list-style: none;
  padding: 0;
  margin: 0;
}

.column_width{
  max-width: 400px;
}
.min_column_width{
  min-width: 100px;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  height: 30px;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding-left: 10px;
    height: 30px;
    a {
      color: #000;
      display: block;
      padding: 3px;
      height: 30px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #428bca;
      height: 30px;
    }
  }
}
.ui-menu-item.ui-state-focus
{
  background-color:  #337ab7;
  color: white;
}
.ui-helper-hidden-accessible {
  display:none !important;
}
.bootstrap-tagsinput{
  width: 100%;
}






.square-td-index{
  background-color: #F0F3FF;
  text-align: center;
  vertical-align: middle;
  border: solid #FFFFFF;
  height: 200px;
  width: 200px;
  max-height: 200px;
  max-width: 200px;
  img{
    max-width: 90%;
    max-height: 90%;
  }
}

.td-two-size{
  height: 150px;
  width: 150px;
  max-height: 150px;
  max-width: 150px;
}

.td-one-size{
  height: 300px;
  width: 250px;
  max-height: 300px;
  max-width: 250px;
}


.one-image-index
{
  height: 300px;
  width: 400px;
  max-height: 300px;
  max-width: 400px;
  background-color: #F0F3FF;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  img{
    max-width: 95%;
    max-height: 95%;
  }
}


.square-td-show{
  background-color: #F0F3FF;
  text-align: center;
  vertical-align: middle;
  border: solid #FFFFFF;
  height: 310px;
  width: 310px;
  max-height: 310px;
  max-width: 310px;
  img{
    max-width: 90%;
    max-height: 90%;
  }
}














//// frame
//
//.frame_one{
//  width: 100%;
//  img{
//    max-width: 97%;
//    position:absolute;
//    margin:auto;
//    top:0;
//    bottom:0;
//    left:0;
//    right:0;
//  }
//}
//
//// show image post
//
//.image_post_show_many{
//  margin-top: 7px;
//  margin-right: 0px;
//  margin-bottom: 0px;
//  margin-left: 3px;
//  width: 98%;
//}
//
//.image_post_show_one{
//  //max-width: 97%;
//  //position:absolute;
//  //margin:auto;
//  //top:0;
//  //bottom:0;
//  //left:0;
//  //right:0;
//
//}
//
//.image_hidden{
//  overflow: hidden;
//  max-height: 200px;
//}
//
//// index image post
//
//.image_post_index_four{
//  margin: 5px;
//  width: 96%;
//  height: 96%;
//}
//
//.image_post_index_three{
//  margin: 5px;
//  width: 100%;
//}
//
//.image_post_index_hidden{
//  overflow: hidden;
//  max-height: 180px;
//  max-width: 200px;
//}
//
//.image_post_index_three_one{
//  margin: 5px;
//  width: 95%;
//  height: 98%;
//}
//
//
//.centered{
//  margin: 0 auto;
//}