/* Header */
.navbar-default {
  //height: 60px;
  .greeting_menu {
    //margin-top: 5px;
  }
}

/* Вывод ошибок */
@import "bootstrap";
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;
}

/* Посты */
.name{
  margin-left: 57px;
  margin-top: -57px;
  margin-bottom: 25px;
  font-size: large;
}

.time_ago{
  margin-left: 57px;
  margin-top: -11px;
  margin-bottom: -15px;
  color: #666666;
}

.crt_post{
  margin-left: 525px;
  margin-top: -28px;
}

.crt_comment{
  margin-left: 525px;
  margin-top: -28px;
}

.hr_margin{
  margin-top: -10px;
}

.clip
{
  word-wrap: break-word;
}
.comments{
  list-style: none;
  padding: 0;
  margin: 0;
}

.tags{
  list-style: none;
  padding: 0;
  margin: 0;
}

.test{
  width: 500px;
}
.column_width{
  max-width: 400px;
}
.min_column_width{
  min-width: 100px;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  height: 30px;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding-left: 10px;
    height: 30px;
    a {
      color: #000;
      display: block;
      padding: 3px;
      height: 30px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
      height: 30px;
    }
  }
}

.mrg_up{
  margin-top: 8px ;
}