/* Header */
.navbar-default {
  height: 60px;
  .greeting_menu {
    margin-top: 5px;
  }
}

/* Вывод ошибок */
@import "bootstrap";
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;
}

/* Посты */
.name{
  margin-left: 57px;
  margin-top: -57px;
  margin-bottom: 25px;
  font-size: large;
}

.time_ago{
  margin-left: 57px;
  margin-top: -11px;
  margin-bottom: -15px;
  color: #666666;
}

.crt_post{
  margin-left: 525px;
  margin-top: -28px;
}

.crt_comment{
  margin-left: 525px;
  margin-top: -28px;
}

.hr_margin{
  margin-top: -10px;
}

.clip
{
  word-wrap: break-word;
}
.comments{
  list-style: none;
  padding: 0;
  margin: 0;
}