/* Header */
.navbar-default {
  //height: 60px;
  .greeting_menu {
    //margin-top: 5px;
  }
}

/* Вывод ошибок */
@import "bootstrap";

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;
}

/* Посты */
.name{
  margin-left: 57px;
  margin-top: -57px;
  margin-bottom: 25px;
  font-size: large;
}

.time_ago{
  margin-left: 57px;
  margin-top: -11px;
  margin-bottom: -15px;
  color: #666666;
}

.crt_post{
  margin-left: 525px;
  margin-top: -28px;
}

.crt_comment{
  margin-left: 525px;
  margin-top: -28px;
}

.hr_margin{
  margin-top: -10px;
}

.clip
{
  word-wrap: break-word;
}
.comments{
  list-style: none;
  padding: 0;
  margin: 0;
}

.tags{
  list-style: none;
  padding: 0;
  margin: 0;
}

.column_width{
  max-width: 400px;
}
.min_column_width{
  min-width: 100px;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  height: 30px;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding-left: 10px;
    height: 30px;
    a {
      color: #000;
      display: block;
      padding: 3px;
      height: 30px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #428bca;
      height: 30px;
    }
  }
}
.ui-menu-item.ui-state-focus
{
  background-color:  #337ab7;
  color: white;
}
.ui-helper-hidden-accessible {
  display:none !important;
}
.bootstrap-tagsinput{
  width: 100%;
}

.image_post_show_many{
  margin-top: 7px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  width: 95%;
}

.image_post_show_one{
 max-width: 100%;
}
.image_hidden{
  overflow: hidden;
  max-height: 200px;
}